!!!
html
  head
    title= site_title
    //- META
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= 'author of the site')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- CSS
    link(rel='stylesheet', href='//cloud.typography.com/7288492/688464/css/fonts.css')
    link(rel='stylesheet', href='http://fast.fonts.net/cssapi/951a91dd-c28c-4b46-a5f6-de8d9fb7c786.css')
    link(rel='stylesheet', href='assets/css/app.css')

  body(class="page-#{ current.path[0] }")

    |<!--[if lt IE 7]>
    p.chromeframe
      | You are using an
      strong outdated
      | browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      | or
      a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
      | to improve your experience.
    <![endif]-->

    .mast-wrapper
      .container
        .mast.row
          .col-md-2
            a.brand(href="/")
              img.img-responsive(src="/assets/img/brand.png", alt="Fifth Letter Brand")
          .col-md-9.col-md-offset-1
            nav.nav-secondary
              ul.nav.navbar-nav
                li
                  a(href="#") Contact
                li
                  a(href="#") Follow
                li
                  a(href="#") Subscribe
                li.search
                  form(class="site-search", method="POST", action="/")
                    input(type="text", placeholder="Search")
            nav.nav-primary
              ul.nav.navbar-nav
                li.dropdown
                  a(href="#", role="button", class="dropdown-toggle", data-toggle="dropdown")
                    | You Are
                    b.caret
                    ul.dropdown-menu(role='menu', aria-labelledby='drop1')
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Action
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Another action
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Something else here
                li.dropdown
                  a(href="#", role="button", class="dropdown-toggle", data-toggle="dropdown")
                    | You Need
                    b.caret
                    ul.dropdown-menu(role='menu', aria-labelledby='drop1')
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Action
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Another action
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Something else here
                li.dropdown
                  a(href="#", role="button", class="dropdown-toggle", data-toggle="dropdown")
                    | We Are
                    b.caret
                    ul.dropdown-menu(role='menu', aria-labelledby='drop1')
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Action
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Another action
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Something else here
                li.dropdown
                  a(href="#", role="button", class="dropdown-toggle", data-toggle="dropdown")
                    | We Make
                    b.caret
                    ul.dropdown-menu(role='menu', aria-labelledby='drop1')
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Action
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Another action
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Something else here

    .container

      != yield

    footer

    //- JS
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js').
    script(src="/assets/js/bootstrap.min.js").
    script(src="/assets/js/app.js").
