/* Table of Contents
=====================================================
  BOOTSTRAP...........Import Bootstrap styles
  SITEWIDE STYLES.....Global styles
  PAGE STYLES.........Styles on a per page/section basis
  FONT-FACE...........Import brand font files
  BROWSER DEBUGGING...Making crappy browsers behave
*/

/* --------------------------------------------------

  BOOTSTRAP

-------------------------------------------------- */
@import '_bootstrap';





/* --------------------------------------------------

  SITEWIDE STYLES

-------------------------------------------------- */

/* Global Styles
================================================== */
a
  font-weight 500
  text-decoration none
  color $link-color
  &:hover
    color $link-hover-color

.mast-wrapper
  background url(/assets/img/bg-mast-wrapper.jpg) top left repeat-x

.mast
  .brand
    width 165px
    height 198px
    display block
    // text-hide()
    background $brand-red
    border-radius 0
    box-shadow 4px 4px 10px rgba($brand-gray,.35)
  .nav
    > li
      > a
        &:hover
          background none
  .navbar-nav
    float none

.nav-secondary
  .navbar-nav
    > li
      &:before
        content '/'
        padding 0 15px
        font-weight 500
        font-size 18px
        color #fff
      > a
        padding 10px
        display inline-block
        font-weight 500
        font-size 18px
        letter-spacing 0.1em
        text-transform uppercase
        color #fff
        &:hover
          darken(#fff, 15%);
      &:first-child
          &:before
            content ''
            padding 0
    li.search
      &:before
        content ''
        padding 0





/* --------------------------------------------------

  PAGE STYLES

-------------------------------------------------- */





/* --------------------------------------------------

  FONT-FACE

-------------------------------------------------- */