/* Table of Contents
=====================================================
  BOOTSTRAP...........Import Bootstrap styles
  SITEWIDE STYLES.....Global styles
  PAGE STYLES.........Styles on a per page/section basis
  FONT-FACE...........Import brand font files
  BROWSER DEBUGGING...Making crappy browsers behave
*/

/* --------------------------------------------------

  BOOTSTRAP

-------------------------------------------------- */
@import '_bootstrap';





/* --------------------------------------------------

  SITEWIDE STYLES

-------------------------------------------------- */

/* Global Styles
================================================== */
a
  font-weight bold
  text-decoration underline
  color $link-color
  border-radius 5px
  &:hover
    text-decoration none

.mast-wrapper
  background url(/assets/img/bg-mast-wrapper.jpg) top left repeat-x

.mast
  .navbar-nav
    float none
  .brand
    width 165px
    height 198px
    display block
    // text-hide()
    background $brand-red
    border-radius 0
    box-shadow 4px 4px 10px rgba($brand-gray,.35)





/* --------------------------------------------------

  PAGE STYLES

-------------------------------------------------- */





/* --------------------------------------------------

  FONT-FACE

-------------------------------------------------- */