/* Table of Contents
=====================================================
  BOOTSTRAP...........Import Bootstrap styles
  SITEWIDE STYLES.....Global styles
  PAGE STYLES.........Styles on a per page/section basis
  FONT-FACE...........Import brand font files
  BROWSER DEBUGGING...Making crappy browsers behave
*/

/* --------------------------------------------------

  BOOTSTRAP

-------------------------------------------------- */
@import '_bootstrap';





/* --------------------------------------------------

  SITEWIDE STYLES

-------------------------------------------------- */

/* Brand Colors
================================================== */
brand-red     = #ED2024

/* Global Styles
================================================== */
a
  font-weight bold
  text-decoration underline
  color #000
  border-radius 5px
  &:hover
    text-decoration none





/* --------------------------------------------------

  PAGE STYLES

-------------------------------------------------- */





/* --------------------------------------------------

  FONT-FACE

-------------------------------------------------- */